h1{
    display: flex;
    justify-content: center;
}

h2,
.label {
    display: flex;
    justify-content: center;
    color: #321c13;
}

body{
    background-color: rgb(237, 200, 180)

}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: #321c13;
}

#pres {
    display: flex;
    gap: 12px;


}

.insta {


}

.tiktok {

}



.sn-img {
    width: 150px;

}

div.RS {
    display: flex;
}








     /* Styles simples pour la mise en page */
 body {
     font-family: Javanese , sans-serif;
     margin: 0;
     padding: 20px;
     background-color: #edc8b4;
 }
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(50, 28, 19);
}
h1 {
    text-align: center;
    color: #321c13;
    font-family: "Jacques Francois Shadow", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 50px
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 50px;
}

h3,
h4{
    font-family: "Roboto Mono", monospace;
    font-weight: bolder;
    font-size: 50px;
    font-style: bold;
    color: #321c13;
}

form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 10px 0 5px;
}
input, textarea, select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    background-color: rgb(50, 28, 19);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #321c13;
}

.tattoo1,
.tattoo2,
.tattoo3,
.tattoo4,
.tattoo5,
.tattoo6,
.tattoo7,
.tattoo8,
.tattoo9,
.tattoo10,
.tattoo11,
.tattoo12,
.tattoo13,
.tattoo14,
.tattoo15,
.tattoo16 {
    width : 200px;
    height : 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    overflow: visible;
}


.flash {

    display: flex;


}