.title{
    display: flex;
    justify-content: center;
    

}

.title2{
    display: flex;
    justify-content: center;
}

body{
    background-color: rgb(237, 200, 180)

}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#pres {
    display: flex;
    gap: 12px;

}

.insta {


}

.tiktok {

}

.tiktok,
.insta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.RS {
    display: block;
    width: 20px;   /* Définit la largeur à 200 pixels */
    height: 10px;  /* Définit la hauteur à 100 pixels */
}






     /* Styles simples pour la mise en page */
 body {
     font-family: Javanese , sans-serif;
     margin: 0;
     padding: 20px;
     background-color: #edc8b4;
 }
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #1c100b;
    font-family: "Jacques Francois Shadow", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 50px
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 50px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 10px 0 5px;
}
input, textarea, select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    background-color: rgba(83, 48, 23, 0.75);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #000000;
}
